<!doctype html>
<html>
  <head>
    <title>OMDB API Lab</title>
    <link rel="stylesheet" href="app.css">
  </head>
  

  <body>

    <header>
      <div class="top">
        <h1>search a movie</h1>
      </div>

      <form action="/search">
        <input type="text" name="searchTerm"><br>
        <input type="submit">
      </form>

    </header>

  </body>
</html>
