<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
  </head>
  <body>
   <h2>Movies Related to Your Search: </h2>
   <ul>
    <% movieList.forEach(function (movie) { %>
      <li> <%= movie.Title %> </li>

    <% }) %>
   </ul>


    
  </body>
</html>
